
# ________________________   VUE   ________________________ #

/landing/node_modules/
/landing/dist/
/landing/build/
/landing/.vuepress/dist/
/landing/.vuepress/.temp/
/landing/.idea/
/landing/.vscode/
/landing/npm-debug.log*
/landing/yarn-debug.log*
/landing/yarn-error.log*
/landing/.DS_Store
/landing/Thumbs.db


# ________________________   MYSQL   ________________________ #

/mysql/data/
/mysql/*.sql
/mysql/*.sql.gz
/mysql/*.sql.bz2
/mysql/*.sql.xz
/mysql/*.cnf


# ________________________   LARAVEL   ________________________ #

/src/node_modules
/src/public/hot
/src/public/storage
/src/storage/*.key
/src/vendor
# /src/.env
/src/.env.example
/src/.phpunit.result.cache
/src/docker-compose.override.yml
/src/Homestead.json
/src/Homestead.yaml
/src/npm-debug.log
/src/yarn-error.log
/src/.idea
/src/.vscode
/src/.docker